<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>uWu & oWo Translator</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">uWu & oWo Translator</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Translator">Translator</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>uWu & oWo Translator</h1>
      <p class="lead">Made possible by theroyakash & Debmalya Sur</p>
    </div>
  </header>

  <section id="Translator" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h1>Unleash the uWu Dog</h1><br>
          <form method = "POST">
				<!-- <label for="ip">Insert your quote here: </label><br> -->
    			<input type="text" id="ip" name="ip" placeholder="Enter your text" ><br><br>

				<p><input type = "submit" value = "Submit" /></p>
				<p class="center">{{input1}}</p>
				<b style="color:green;" class="center">{{output}}</b>
		  </form>
		  <br>
		  <h1>Unleash the oWo Dog</h1><br>
          <form method = "POST">
				<!-- <label for="ipo">Insert your quote here: </label><br> -->
    			<input type="text" id="ipo" name="ipo" placeholder="Enter your text"><br><br>
			  
				<p><input type = "submit" value = "Submit" /></p>
				<p class="center">{{input2}}</p>
				<b style="color:red;" class="center">{{output2}}</b>
		  </form>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p class="lead">uWu Translator by theroyakash</p>
          <ul>
            <li>Always free, hosted with love from repl.it</li>
			<li>API Coming soon. You can then use it with your own app.</li>
            <li>I am making tireless effort to make it available for Siri shortcuts on iPhones and iPads</li>
          </ul>
		  <br>
		  <p class="lead">oWo Translator by Debmalya Sur</p>
          <ul>
            <li>Always free, hosted with love from repl.it</li>
			<li>API Coming soon. You can then use it with your own app.</li>
            <li>I am making tireless effort to make it available for Siri shortcuts on iPhones and iPads</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">You got any suggestion please contact the developer on twitter @theroyakash.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; theroyakash & Debmalya Sur 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>

</body>

</html>
